@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background:  #000000bf;
  /* background: ; */
}

::-webkit-scrollbar-thumb {
  background-color: #3575db; /* Simple color */
  border-radius: 5px; /* Rounded edges */
}